body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.centered-title {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.centralized-image {
  display: block;
  margin: 20px auto; /* Espaço abaixo do título */
  max-width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Set width as per layout requirement */
  margin-bottom: 20px; /* Space between form fields */
}

.button-container-horizontal {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  width: 100%;
  margin-top: 40px; /* Ajustado para descer um pouco mais */
}

.blue-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Adiciona margem aos lados dos botões */
}

  .blue-button:hover {
    background-color: #0056b3;
  }

  .blue-button:disabled {
    background-color: #cccccc;
    color: #808080;
    cursor: not-allowed;
  }

/* Responsiveness */

@media (max-width: 768px) {
  .centralized-image {
    max-width: 80%;
  }

  .button-container-horizontal {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
