<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar no Sistema - Sistema Bus Track</title>
  <link rel="stylesheet" href="enter-the-system.component.css">
</head>
<body>
  <div class="container">
    <h1>Sistema Bus Track</h1>
    <img src="OIG4.jpgeg" alt="Sistema Bus Track Logo">
    <form>
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="button-container">
        <button class="blue-button" (click)="login()">Entrar</button>
        <button class="blue-button" (click)="cancelar()">Cancelar</button>
        <button class="blue-button" (click)="voltar()">Criar Conta</button>
      </div>
    </form>
  </div>
  <script src="enter-the-system.component.ts"></script> <!-- Adicione o script TypeScript -->
  <script src="main-screen.component.ts"></script>
  <script src="create-an-acount.component.ts"></script>
</body>
</html>
