<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Principal - Sistema Bus Track</title>
  <link rel="stylesheet" href="main-screen.component.css">
</head>
<body>
  <div class="container">
    <h1>Sistema Bus Track</h1>
    <img src="OIG4.jpgeg" alt="Sistema Bus Track Logo">
    <div class="button-container">
      <button class="blue-button" (click)="criarConta()">Criar Conta</button>
      <button class="blue-button" (click)="entrarNoSistema()">Entrar no Sistema</button>
    </div>
  </div>
  <script src="main-screen.component.ts"></script> <!-- Script TypeScript da tela principal -->
  <script src="enter-the-system.component.ts"></script> <!-- Script para a tela de entrar no sistema -->
  <script src="create-an-account.component.ts"><</script>
</body>
</html>
