<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Principal - Sistema Bus Track</title>
  <link rel="stylesheet" href="main-screen.component.css">
</head>
<body>
  <div class="container">
    <h1>Sistema Bus Track</h1>
    <img src="OIG4.jpeg" alt="Sistema Bus Track Logo">
    <div class="button-container">
      <button class="blue-button" (click)="entrarNoSistema()"><a target="_blank" href='http://localhost:4200/enter-the-system'>Entrar no Sistema</a></button>
      <button class="blue-button" (click)="entrarNoSistema()">Entrar no Sistema</button>
      <button class="blue-button" (click)="criarConta()">Criar Conta</button>
    </div>
  </div>
</body>
</html>
