<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Principal - Sistema Bus Track</title>
  <link rel="stylesheet" href="main-screen.component.css">
</head>
<body>
  <div class="container">
   <h1 class="centered-title">Seja bem-vindo a página Principal do Sistema Bus Track</h1>
   <img class="img-responsive" src="../../../assets/imagem/OIG4.jpeg" alt="Sistema Bus Track Logo" class="centralized-image" style="width: 200px; height: auto;">
   <div class="button-container-horizontal">
      <button class="blue-button" (click)="entrarNoSistema()" routerLink="/enter-the-system">Entrar no Sistema</button>
      <button class="blue-button" (click)="criarConta()" routerLink="create-an-account">Criar Conta</button>
   </div>
  </div>
</body>
</html>
