<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmação de Cadastro - Sistema Bus Track</title>
  <link rel="stylesheet" href="confirmation.component.css">
</head>
<body>
  <div class="container">
    <h1>Sistema Bus Track</h1>
    <img src="OIG4.jpeg" alt="Sistema Bus Track Logo">
    <div class="confirmation-message">
      <p>Obrigado por se cadastrar no Sistema Bus Track.</p>
      <p>Enviamos um e-mail de confirmação para o seu e-mail de cadastro na caixa de entrada. Você tem o prazo de 30 minutos para clicar no botão "Confirmar Cadastro" no corpo da mensagem. Se não recebeu, verifique a sua caixa de SPAM e a lixeira. Se o botão não aparecer, clique no link que será disponibilizado também no corpo da mensagem.</p>
    </div>
    <div class="button-container">
      <button class="blue-button" (click)="confirmarCadastro()">Confirmar Cadastro</button>
    </div>
  </div>
  <script src="confirmation.component.ts"></script>
</body>
</html>
