<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Senha</title>
  <link rel="stylesheet" href="update-password.component.css">
</head>
<body>
  <div class="container">
    <h1 class="centered-title">Seja bem-vindo à Tela de Atualização de Senha do Sistema Bus Track</h1>
    <img class="img-responsive centralized-image" src="../../../assets/imagem/OIG4.jpeg" alt="Sistema Bus Track Logo">
    <form #updatePasswordForm="ngForm" id="update-password-form" (ngSubmit)="updatePassword(updatePasswordForm)">
      <div class="form-group">
        <label for="full-name">Nome Completo:</label>
        <input type="text" id="full-name" name="fullName" disabled [(ngModel)]="fullName">
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" disabled [(ngModel)]="cpf">
      </div>
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" name="email" disabled [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password">Nova Senha:</label>
        <input type="password" id="password" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirmar Nova Senha:</label>
        <input type="password" id="confirm-password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>
      <div class="button-container-horizontal">
        <button class="blue-button" type="button" (click)="cancelar()" routerLink="/main-screen">Cancelar</button>
        <button class="blue-button" type="submit" [disabled]="!updatePasswordForm.form.valid" [class.disabled-button]="!updatePasswordForm.form.valid">Atualizar Senha</button>
      </div>
    </form>
  </div>
</body>
</html>
