<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Conta - Sistema Bus Track</title>
  <link rel="stylesheet" href="create-an-account.component.css">
</head>
<body>
  <div class="container">
    <h1>Sistema Bus Track</h1>
    <img src="OIG4.jpeg" alt="Sistema Bus Track Logo">
    <form>
      <div class="form-group">
        <label for="nomeCompleto">Nome Completo:</label>
        <input type="text" id="nomeCompleto" name="nomeCompleto" [(ngModel)]="fullName" required>
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" [(ngModel)]="cpf" pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}" required>
      </div>
      <div *ngIf="cpfInvalido" class="error-message">
        CPF inválido. Por favor, digite apenas números.
      </div>
      <div class="button-container">
        <button class="blue-button" (click)="criarConta()">Criar Conta</button>
        <button class="blue-button" (click)="cancelar()">Cancelar</button>
        <button class="blue-button" (click)="realizarLogin()">Realizar Login</button>
      </div>
    </form>
  </div>
  <script src="create-an-account.component.ts"></script>
  <script src="main-screen.component.ts"></script>
  <script src="enter-the-system.component.ts"></script> <!-- Script para a tela de entrar no sistema -->
</body>
</html>
