<!--<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Bus Track</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="container">
    <img src="OIG4.jpeg" alt="Bus Track" style="width: 200px; height: auto;">
    <div class="button-container">
      <button class="blue-button" (click)="toggleForm('login')">Entrar no sistema</button>
      <button class="blue-button" (click)="toggleForm('create')">Criar Conta</button>
    </div>
  </div>

  <div *ngIf="currentForm === 'login'" class="container">
    <h2>Acessar o Sistema</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
       Campos de login
<div>
  <label for="email">Email:</label>
  <input type="email" name="email" [(ngModel)]="loginData.email" required>
</div>
<div>
  <label for="password">Senha:</label>
  <input type="password" name="password" [(ngModel)]="loginData.password" required>
</div>
<button type="submit">Entrar</button>
<div class="error-message" *ngIf="loginError">{{ loginError }}</div>
    </form>
  </div>

<div *ngIf="currentForm === 'create'" class="container">
  <h2>Criar Conta</h2>
  <form [formGroup]="createForm" (ngSubmit)="createAccount()">
    <div>
      <label for="fullName">Nome Completo:</label>
      <input type="text" name="fullName" formControlName="fullName" required>
    </div>
    <div>
      <label for="cpf">CPF:</label>
      <input type="text" name="cpf" formControlName="cpf" [(ngModel)]="createData.cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite apenas números no formato 000.000.000-00" required>
      <div class="error-message-cpf" *ngIf="cpfError">{{ cpfError }}</div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" formControlName="email" [(ngModel)]="createData.email" required>
    </div>
    <div>
      <label for="password">Senha:</label>
      <input type="password" name="password" formControlName="password" [(ngModel)]="createData.password" required>
      <div class="password-strength" [ngClass]="{ 'weak': passwordStrength === 'weak', 'strong': passwordStrength === 'strong' }">
        Força da senha: {{ passwordStrength }}
      </div>
    </div>
    <button type="submit">Criar Conta</button>
  </form>
</div>

<script src="login.component.ts"></script>
</body>
</html>-->
