.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.user-info h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.usability-rules h3 {
  margin-top: 20px;
}

.usability-rules ul {
  list-style-type: none;
  padding-left: 0;
}

.content {
  margin-left: 15%; 
  padding: 20px;
}

.main-screen {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; 
    position: relative; 
    padding: 10px;
    height: auto; 
  }

  .content {
    margin-left: 0; 
    padding: 10px; 
  }
}
