<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Principal - Sistema Bus Track</title>
  <link rel="stylesheet" href="main-screen.component.css">
</head>
<body>
  <h1 class="centered-title">Seja bem-vindo à Tela Principal do Sistema Bus Track</h1>
  <div class="container">
    <img src="OIG4.jpeg" alt="Sistema Bus Track Logo" class="centralized-image">
    <div class="button-container-horizontal">
      <button class="blue-button" (click)="entrarNoSistema()">Entrar no Sistema</button>
      <button class="blue-button" (click)="criarConta()">Criar Conta</button>
    </div>
  </div>
</body>
</html>
