<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Bus Track - Concluído</title>
  <link rel="stylesheet" href="concluded.component.css">
</head>
<body>
  <div class="container">
    <h1 class="centered-title">Seja bem-vindo a página de Conclusão do Sistema Bus Track</h1>
    <img class="img-responsive" src="../../../assets/imagem/OIG4.jpeg" alt="Sistema Bus Track Logo" class="centralized-image" style="width: 200px; height: auto;">
    <div class="confirmation-message">
      <p>Confirmado o cadastro, por favor se conecta no sistema clicando no botão "OK" abaixo.</p>
    </div>
    <button class="ok-button" onclick="redirectToLogin()" routerLink="/enter-the-system">OK</button>
    </div>
</body>
</html>
